node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
.git
.gitignore
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.tar.gz
*.log
logs/
dist/
.DS_Store
.idea/
.vscode/
coverage/
tmp/
temp/ 